@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.fc {
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.fc-event {
  cursor: pointer;
}

.fc-day-today {
  background-color: rgba(0,123,255,0.1) !important;
}

@media (max-width: 600px) {
  .fc {
    padding: 10px;
    border-radius: 4px;
  }
}